/* footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
}
footer .bottom-para {
    margin-bottom: 20px;
    font-size: 14px;
    color: #ccc;
}

footer .bottom-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}


footer .bottom-social ul li {
    display: inline-block;
}

footer .bottom-social ul li a {
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

footer .bottom-social ul li a:hover {
    color: #007bff;
}

footer .wls-hours-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .wls-hours-list ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    color: #ccc;
}

footer .wls-hours-list ul li .time {
    color: #fff;
}

footer .news-letter .form-group {
    margin-bottom: 10px;
}

footer .news-letter .form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

footer .news-letter .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer .news-letter .btn:hover {
    background-color: #0056b3;
}

.copy-agile-right {
    background-color: #222; /* Màu nền */
    padding: 10px 0; /* Khoảng cách trên và dưới */
    color: #ccc; /* Màu chữ */
    text-align: center; /* Căn giữa văn bản */
}

.copy-agile-right a {
    color: #007bff; /* Màu chữ cho liên kết */
    text-decoration: none; /* Loại bỏ gạch chân cho liên kết */
}

footer .copy-agile-right a:hover {
    text-decoration: underline;
    /* căn giữa text */
    text-align: center;
}

@media (max-width: 768px) {
    footer .row {
        flex-direction: column;
    }

    footer .col-lg-3,
    footer .col-md-6,
    footer .col-sm-6 {
        width: 100%;
        margin-bottom: 20px;
    }
}